<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/register.css"> <!-- Link to the enhanced CSS file -->

  <title>Register</title>
</head>
<body>
  <nav>
    <h1 class="nav-title">File-Upload</h1>
  </nav>
  <div class="container">
    <% if (locals.error != null) { %>
    <div class="error-message">
      <p><%= locals.error %></p>
    </div>
    <% } %>
    <h1 class="register-title">Register</h1>
    <form action="/register" method="POST" enctype="application/json" class="regform">
      <label for="username">Username:</label>
      <input type="email" placeholder="Enter Your Email" id="username" name="username" required />
      <label for="password">Password:</label>
      <input type="password" placeholder="Enter Your Password" id="password" name="password" required />
      <label for="gender">Gender:</label>
      <select id="gender" name="gender">
        <option value="Male">Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
      <button class="register-button" type="submit">Register</button>
    </form>
    <div class="login-link">
      Already registered? <a href="/login">Login</a>
    </div>
  </div>
</body>
</html>
