<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/navbar.css">
    
    <title>Register</title>
  </head>
  <body>
    <nav>
     <h1> File-Upload</h1></nav>
     <div class="container">
    <% if (locals.error != null) { %>
    <div style="margin-bottom: 1rem">
      <p style="color: red"><%= locals.error %></p>
    </div>
    <% } %>
    <h1 style="text-align: center;margin-bottom: 10px;">Register</h1>
    <form
      action="/register"
      method="POST"
      enctype="application/json"
      class="regform"
    >
    
    
      <label for="username">Username:</label>
      <input type="email" placeholder="Enter Your Email" id="username" name="username" required />
      <label for="password" >Password:</label>
      <input type="password" placeholder="Enter Your Password" id="password" name="password" required />
      <label for="gender">Gender:</label>
      <select id="gender" name="gender">
        <option value="Male">Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
      <button style="grid-column: span 2" type="submit">Register</button>
  
    </form>
    <div
      style="
        display: grid;
        gap: 0.5rem;
        grid-template-columns: auto 1fr;
        max-width: 500px;
        margin: 10px auto;
      "
    >
      Already registered?
      <a href="/login" style="text-decoration: none; color: yellow;">Login </a>
    </div>
  </div>
  </body>
</html>