<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/password.css"> <!-- Link to the enhanced CSS file -->

  <title>Download File</title>
</head>
<body>
  <nav>
    <h1 class="nav-title">File Upload</h1>
  </nav>
  <div class="container">
    <% if (locals.error) { %>
    <div class="error-message">Incorrect Password</div>
    <% } %>
    <h1 class="download-title">Download File</h1>
    <div class="user-name">
      <%= locals.name %>
    </div>
    <form method="POST" class="download-form">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button class="download-button" type="submit">Download</button>
    </form>
  </div>
</body>
</html>
